body{
	
  background-color:#B2EBF2; 	
/*background-image: url('../img/fondo3.jpg');*/
/*background: no-repeat;*/
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'Ubuntu Condensed', sans-serif; */
    /*font-family: 'Cairo', sans-serif;*/
    /*font-family: 'Kanit', sans-serif;*/
    /*font-family: 'Satisfy', cursive;*/
    /*font-family: 'Handlee', cursive;*/
    /*font-family: 'Cantarell', sans-serif;*/
    /*font-family: 'Hammersmith One', sans-serif;*/
    /*font-family: 'Marck Script', cursive;*/


}
.fdiv{
	background-color: #fff;
}
h3{
	text-align: center;
}

h5{
	text-align: center;
}

h6{
	padding-left: 12%;
	padding-top: 25%;
}

img:hover{
	transform: scale(2);
	transition: all .2s ease-in-out;
	:not(#logo);
}


.div-inicio{
	margin-top: 15%;
}

.curp{
	text-transform: uppercase;
}

.img-menu{
	width: 35%;
	padding-top: 7%;
	padding-left: 10%;
}

.dark-primario-color    { background: #0097A7; }
.default-primario-color { background: #00BCD4; }
.light-primario-color   { background: #B2EBF2; }
.text-primario-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primario-text-color    { color: #212121; }
.secondario-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

